<ol class="players-list--list">
  {{#each orderedMemberships as |membership|}}
    <li class="players-list--player">
      <span class="players-list--player--name">
        {{membership.player.name}}
      </span>
      <span class="players-list--player--score">
        {{membership.score}}
      </span>
    </li>
  {{/each}}
</ol>
