<form {{action "submit" name on="submit"}}>
  {{input value=name placeholder="Name" autocomplete="off" autocorrect="off" autocapitalize="off" class="player-registration--name"}}
  <input type="submit" class="player-registration--submit" />
</form>
