<div class="player-lobby">
  <div class="player-lobby--container">
    <div class="player-lobby--title">
      Welcome, {{player.name}}.
    </div>
    {{game-create on-created="created"}}
  </div>
</div>
