{{game-question round=game.currentRound}}
{{#if (not (eq round game.currentRound))}}
  {{game-question round=round
    acknowledgeProgress=acknowledgeProgress
    class="has-winner"}}
{{/if}}

{{game-status round=round}}

{{game-answers round=round
  isHidden=(or mustJoin isMenuOpen)
  on-submit=(action "submit")
  on-acknowledging=(action "acknowledging")
  on-acknowledged=(action "acknowledged")}}
