.game-question
  +card
  width: 100vw
  height: 100vh
  box-sizing: border-box
  background: black
  color: white

  transition: top $transition-duration
  top: $game-players-membership-height

  &.is-hidden
    top: 100vh
