$game-question--height: 50vh

.game-question
  +card
  width: 100vw
  height: $game-question--height
  top: 0
  box-sizing: border-box
  background: black
  color: white
  +transition(transform, top, $transition-duration)

  .app-game.is-acknowledging &.has-winner
    top: -$game-question--height
