%game-answer-face
  +card
  height: 120vw
  background: white
  color: black
  backface-visibility: hidden
  box-shadow: 0 0 5vw rgba(black, 0.3)

.game-answer
  @extend %game-answer-face
  transform-style: preserve-3d

  +transition(transform, bottom, $transition-duration)

  &.is-state-winner
    width: 90vw

  &.is-state-player-hand,
  &.is-state-czar-hand,
  &.is-state-observer-hand
    bottom: -20vw

  &.is-state-player-hand

    .app-game.is-round-submitted &,
    .app-game.is-player-submitted &,
    .app-game.is-czar &
      bottom: -120vw

  &.is-state-czar-hand,
  &.is-state-observer-hand

    .app-game.has-winner &
      bottom: -120vw

  &.is-state-pile
    bottom: 10vw

.game-answer-back
  @extend %game-answer-face
  line-height: 100vw
  transform: rotateY(180deg)
  font-size: 300px
  text-align: center
