<div class="register">
  <div class="register--container">
    <div class="register--title">
      To start a game, pick a name:
    </div>
    {{player-registration on-register="registered"}}
  </div>
</div>
