<h1 class="app-intro-title">
  Cards Against Humanity
</h1>
{{#if player}}
  <div class="app-intro-games">
    {{#each games as |game|}}
      {{#link-to "game" game class="app-intro-game"}}
        <div class="app-intro-game-question">
          {{{game.currentRound.question.text}}}
        </div>
        <div class="app-intro-game-players">
          {{join (map game.players by="name") with=', '}}
        </div>
        {{moment-from-now game.createdAt}}
      {{/link-to}}
    {{/each}}
    <a href="" {{action "start"}} class="app-intro-create">
      <span class="app-intro-create-icon">+</span>
      <div class="app-intro-create-label">New game</div>
    </a>
  </div>
{{else}}
  <form {{action "join" name on="submit"}}>
    <label for="name" class="app-intro-label">Choose a username</label>
    {{input value=name id="name" class="app-intro-input"}}
    <input type="submit" value={{if game "Join Game" "Start Game"}} class="app-intro-action">
  </form>
{{/if}}
<p class="app-intro-license">
  The content of this game are used under a
  <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">
    Creative Commons BY-NC-SA 2.0 license</a>
  from <a href="https://cardsagainsthumanity.com/">
    Cards Against Humanity</a>.
</p>
