<h1 class="game-players-title">
  Players
</h1>
{{#each game.memberships as |membership|}}
  <div class="game-players-membership
    {{~if (eq membership round.czar) " is-czar"}} ">
    <span class="game-players-czar-label"></span>
    <span class="game-players-name">
      {{membership.player.name}}
    </span>
    <span class="game-players-score">
      {{membership.score}}
    </span>
  </div>
{{/each}}
{{#if gameNeedsMemberships}}
  <div class="game-players-invite-directions">
    To invite a player, just send them a link to this page. Once they join, they will show up here.
  </div>
{{/if}}
